<div class="loginform-wrapper">
    <form class="loginform common-form" action="">
        <h3 class="form-title">Log in</h3>
        <div class="inputfield-wrapper">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" name="email" id="" placeholder="youremail@address.com"/>
        </div>
        <div class="inputfield-wrapper">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="passwd" id="" placeholder="Password"/>
        </div>

        <div class="text-end">
            <a class="anchor-link" href="#">Forget password</a>
        </div>

        <div class="button-wrapper">
            <app-common-button></app-common-button>
        </div>

        <div class="">
            <p class="para-text">New to NeoSTORE? <a class="anchor-text" (click)="changePage()">Sign up</a></p>
        </div>
    </form>
</div>