$primary-font: 'Gotham';

//colors
$white: #FFFFFF;
$primary-red: #BB0100;
$secondary-red: #E91B1A;

$primary-black: #111111;

$grey-label: #666666;
$grey-anchor: #585858;
$grye-para: #4F4F4F;
$form-input: #706A6A; 


$button-hover: #bb0000e8;

$form-shadow: #0000000F;